.movie-card {
  margin: 15px;
  .card-image {
    height: 65%;
  }
  svg {
    vertical-align: text-bottom;
  }
}

.card-bottom {
  width: 100%;

}

.rating {
  margin: 10px;
  font-size: 1.4rem;
}


@media (max-width: 420px) {
  .movie-card {
    .card-image{
      height: 67%;
    }
    .MuiCardContent-root {
      padding:5px 12px;
    }
    .MuiCardHeader-root {
      padding: 12px;
    }
    .MuiTypography-h5 {
      font-size: 1.5rem;
      line-height: 1;

    }
  }
}

@media (max-width: 360px) {
  .movie-card {
    .card-image{
      height: 55%;
    }
    .MuiCardContent-root {
      padding: 13px;
    }
    .MuiCardHeader-root {
      padding: 13px;
    }
    .MuiTypography-h5 {
      font-size: 1.1rem;
      line-height: 1.4;

    }
  }
  .rating {
    margin: 10px;
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .movie-card {
    .card-image{
      height: 67%;
    }
    .MuiCardContent-root {
      padding:6px;
    }
    .MuiCardHeader-root {
      padding: 6px;
    }
    .MuiTypography-h5 {
      font-size: 1.1rem;
      line-height: 1.2;

    }
  }
  .rating {
    margin: 10px;
    font-size: 1rem;
  }
}