.navbar-wrapper{
  .navbar {
    background-color:#4E5283;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    .navbar-brand {
      font-size: 2rem;
      color: white;
      font-family: 'Lobster', cursive;
      letter-spacing: 1px;
    }

  }
}

@media (max-width: 320px){
  .navbar-wrapper{
    .navbar {
      .navbar-brand {
        font-size: 1.2rem;
      }
    }
  }
}