.jumbotron-wrapper {
  .jumbotron {
    //background-image: url("https://images.pexels.com/photos/2774556/pexels-photo-2774556.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    //background-blend-mode: luminosity;
    //background-size: contain;
    color: white;
    h1 {
      font-weight: 500;
    }
    background-color: #064789;
  }

}